<div class="container", style="margin-top:75px; margin-bottom:200px">
  <ul class="nav nav-tabs pt-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">My Bookings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="animals-tab" data-bs-toggle="tab" data-bs-target="#animals" type="button" role="tab" aria-controls="animals" aria-selected="false">My Animals</button>
  </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <h1 class="my-4 mb-10 px-2">My Bookings</h1>
      <% if @bookings[0].nil? %>
        <h2> It is time to make your first magical reservation!</h2>
        <div class="btn btn-primary">
          <%=link_to "Browse animals", animals_path%>
        </div>
      <% end %>
      <div class="row m-auto">
        <% @bookings.each do |booking|%>
          <div class="col-4 m-auto">
            <div class="card-trip mb-3">
              <%if booking.animal.photos[0] != nil%>
                <%= cl_image_tag booking.animal.photos[0].key%>
              <%else%>
                <%= image_tag("placeholder_animal.png", style:"object-fit:cover, object-align:center")%>
              <%end%>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= booking.animal.name %>
                  <% if booking.status == "approved!" %>
                    <i class="fas fa-check-circle" style="color:#004E00"></i>
                  <% elsif booking.status == "denied"%>
                    <i class="fas fa-times-circle" style="color:#93402F"></i>
                  <% else %>
                    <i class="fas fa-question-circle" style="color:orange"></i>
                  <% end %>
                  </h2>
                  <p> <%= booking.start_date %> - <%= booking.end_date %></p>
                  <div class="card-bottom">
                    <div class="btn btn-outline-warning" style="margin-top: auto">
                     <%= link_to "More information", booking_path(booking)%>
                    </div>
                    <h2 class="card-trip-pricing"><%= booking.total_price %> €</h2>
                  </div>
                </div>
                <div class="card-trip-user">
                  <% if booking.animal.user.photo.key != nil%>
                    <%= cl_image_tag booking.animal.user.photo.key, class:"avatar", gravity:"faces", style:"object-fit:cover" %>
                  <%else%>
                    <%= image_tag("placeholder_user.png", class:"avatar", style:"object-fit:cover")%>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="tab-pane fade" id="animals" role="tabpanel" aria-labelledby="animals-tab">

    <h1 class="my-4 mb-10">My animals</h1>
    <% if current_user.animals[0].nil? %>
      <h2> Share your magic companions with the world now!</h2>
      <span class="btn btn-primary">
          <%= link_to "Add an animal", new_animal_path%>
      </span>
    <%else%>
      <div class="row m-auto">
        <% current_user.animals.each do |animal|%>
          <div class="col-4 m-auto">
            <div class="card-trip mb-3">
              <%if animal.photos[0] != nil%>
                <%= cl_image_tag animal.photos[0].key, class:"photo"%>
              <%else%>
                <%= image_tag("placeholder_animal.png", class:"photo")%>
              <%end%>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= animal.name %></h5>
                  <p style="margin-top: 2px; margin-bottom: 5px"> <%=animal.description.first(50)%><%= "..." if animal.description[51] != nil %></p>
                </div>
                <div class="card-bottom">
                  <div class="btn btn-outline-warning" style="margin-top: auto">
                    <%= link_to "More information", animal_path(animal)%>
                  </div>
                  <h2 class="card-trip-pricing">€<%=animal.price%>/day</h2>
                </div>
                <%if animal.category == "Dragon" %>
                  <div class="fire">
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                  </div>
                <%end%>
                <% if animal.category == "Acromentula" %>
                  <div class="container", id="container-spider">
                    <div class="left">
                      <div class="uno"><div class="uno"><div class="uno"><div class="uno"></div></div></div></div>
                      <div class="dos"><div class="dos"><div class="dos"><div class="dos"></div></div></div></div>
                      <div class="tres"><div class="tres"><div class="tres"><div class="tres"></div></div></div></div>
                      <div class="cuatro"><div class="cuatro"><div class="cuatro"><div class="cuatro"></div></div></div></div>
                    </div>
                    <div class="right">
                      <div class="uno"><div class="uno"><div class="uno"><div class="uno"></div></div></div></div>
                      <div class="dos"><div class="dos"><div class="dos"><div class="dos"></div></div></div></div>
                      <div class="tres"><div class="tres"><div class="tres"><div class="tres"></div></div></div></div>
                      <div class="cuatro"><div class="cuatro"><div class="cuatro"><div class="cuatro"></div></div></div></div>
                    </div>
                  </div>
                <% end %>
                <% if animal.category == "Unicorn" %>
                  <section class="portfolio-experiment">
                    <div class="rainbow">
                      <div class="bow"></div>
                      <div class="bow"></div>
                      <div class="bow"></div>
                      <div class="bow"></div>
                      <div class="bow"></div>
                      <div class="bow"></div>
                    </div>
                  </section>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
