<div class="container", style="margin-top:75px">
  <h1>Mes bookings</h1>
    <div class="row justify-content-center">
      <% @bookings.each do |booking|%>
        <div class="col-md-4", style="margin-bottom: 10px">
          <div class="card-trip">
            <%if booking.animal.photos[0] != nil%>
              <%= cl_image_tag booking.animal.photos[0].key%>
            <%else%>
              <%= image_tag("placeholder_animal.png", style:"object-fit:cover, object-align:center")%>
            <%end%>
            <div class="card-trip-infos">
              <div>
                <h2> <%= booking.animal.name %></h5>
                <p> <%= booking.start_date %> - <%= booking.end_date %></p>
                <div class="btn btn-primary">
                  <%= link_to "More information", booking_path(booking)%>
                </div>
              </div>
              <h2 class="card-trip-pricing"><%= booking.total_price %> $</h2>
              <div class="card-trip-user">
              <% if booking.animal.user.photo.key != nil%>
                <%= cl_image_tag booking.animal.user.photo.key, class:"avatar", gravity:"faces", style:"object-fit:cover" %>
              <%else%>
                <%= image_tag("placeholder_user.png", class:"avatar", style:"object-fit:cover")%>
              <%end%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
