<div class="container shadow-sm rounded banner-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.chicandfabric.com/wp-content/uploads/2020/08/Amazon_Navy_W0098_03-1-1.jpg);">
    <div class="container banner-content">
      <h1 class="banner-title">Bring magic back in your life!</h1>
      <%= link_to "View more", animals_path, class: "btn btn-light btn-lg rounded-pill my-5 py-2 px-4 banner-btn" %>
    </div>
  </div>
</div>

<div class="container">
   <div class="row">
        <% @animals.each do |animal|%>
        <div class="col-4", style="margin-bottom: 10px">
          <div class="card-trip">
            <%= cl_image_tag animal.photo.key, style:"object-fit:cover, object-align:center"%>
            <div class="card-trip-infos">
              <div>
                <h2> <%= animal.name %></h5>
                <p> <%=animal.description%></p>
                <p class="btn btn-primary"> <%= link_to "more information", animal_path(animal) %></p>
              </div>
              <h2 class="card-trip-pricing">£<%=animal.price%>/day</h2>
              <div class="card-trip-user">
                <%= cl_image_tag animal.photo.key, class:"avatar", gravity:"faces", style:"object-fit:cover" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
</div>
