<div class="container", style="margin-top:75px">
  <h1 class="py-5 text-center">There are <%= @animals.count %> animals around you</h1>
    <div class="row m-auto">
      <div class="col-7", style="margin-bottom: 10px">
        <% @animals.each do |animal|%>
            <div class="card-trip mb-3">
              <%if animal.photos[0] != nil%>
                <%= cl_image_tag animal.photos[0].key, class:"photo"%>
              <%else%>
                <%= image_tag("placeholder_animal.png", class:"photo")%>
              <%end%>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= animal.name %></h5>
                  <p style="margin-top: 2px; margin-bottom: 5px"> <%=animal.description.first(50)%><%= "..." if animal.description[51] != nil %></p>
                </div>
                <div class="card-bottom">
                  <div class="btn btn-primary" style="margin-top: auto">
                    <%= link_to "More information", animal_path(animal)%>
                  </div>
                  <h2 class="card-trip-pricing">€<%=animal.price%>/day</h2>
                </div>
                <%if animal.category == "Dragon" %>
                  <div class="fire">
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                  </div>
                <%end%>
                <% if animal.category == "Acromentula" %>
                  <div class="container", id="container-spider">
                    <div class="left">
                      <div class="uno"><div class="uno"><div class="uno"><div class="uno"></div></div></div></div>
                      <div class="dos"><div class="dos"><div class="dos"><div class="dos"></div></div></div></div>
                      <div class="tres"><div class="tres"><div class="tres"><div class="tres"></div></div></div></div>
                      <div class="cuatro"><div class="cuatro"><div class="cuatro"><div class="cuatro"></div></div></div></div>
                    </div>
                    <div class="right">
                      <div class="uno"><div class="uno"><div class="uno"><div class="uno"></div></div></div></div>
                      <div class="dos"><div class="dos"><div class="dos"><div class="dos"></div></div></div></div>
                      <div class="tres"><div class="tres"><div class="tres"><div class="tres"></div></div></div></div>
                      <div class="cuatro"><div class="cuatro"><div class="cuatro"><div class="cuatro"></div></div></div></div>
                    </div>
                  </div>
                <% end %>
                <div class="card-trip-user">
                <% if animal.user.photo.key != nil%>
                  <%= cl_image_tag animal.user.photo.key, class:"avatar", gravity:"faces", style:"object-fit:cover" %>
                <%else%>
                  <%= image_tag("placeholder_user.png", class:"avatar", style:"object-fit:cover")%>
                <%end%>
                </div>
              </div>
            </div>
        <% end %>
      </div>


      <div class="col-5">
        <div id="map"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
