<h1>créer un nouvel animal</h1>

<div class="container">
  <h1>New list</h1>
  <%= simple_form_for @animal do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create an animal", class: "btn btn-primary" %>
  <% end %>
</div>
