<div class="container"  style="margin-top: 100px">
  <div class="fs-1">
    <h1 style="color:black"><%="#{@animal.name} - #{@animal.price}€"%></h1>
  </div>
  <div class="row">
    <div class="column col-lg-6 col-md-12", style="margin-bottom: 10px">
      <%if @animal.photos[0] != nil%>
        <%= cl_image_tag @animal.photos[0].key, gravity: :center, height: 331, crop: :thumb, class:"photo"%>
      <%else%>
        <%= image_tag("placeholder_animal.png", height: 331, width: 600, alt:"placeholder", class:"photo")%>
      <%end%>
    </div>
    <div class="column col-lg-6 col-md-12", style="margin-bottom: 10px">
      <div class="row justify-content-between">
        <div class="column col-6">
          <%if @animal.photos[1] != nil%>
            <%= cl_image_tag @animal.photos[1].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
        <div class="column col-6">
          <%if @animal.photos[2] != nil%>
            <%= cl_image_tag @animal.photos[2].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
      </div>
      <div class="row justify-content-between" style="margin-top: 10px">
        <div class="column col-6">
          <%if @animal.photos[3] != nil%>
            <%= cl_image_tag @animal.photos[3].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
        <div class="column col-6">
          <%if @animal.photos[4] != nil%>
            <%= cl_image_tag @animal.photos[4].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-6 col-md-12">
      <div class="description-card">
        <h3 style="text-align: center">Who is <%= @animal.name%>?</h3>
        <%= @animal.description %>
      </div>
    </div>
    <div class="column col-lg-6 col-md-12">
      <%if policy(@animal).destroy? %>
        <div id="booking-logs">
          <h3 style="text-align: center"><%= "#{@animal.name.capitalize}'s current bookings" %></h3>
            <% if @animal.bookings[0].nil? %>
              <p>People are looking at your companion! the first booking will pop up soon...</p>
            <% end %>
          <ol>
            <% @animal.bookings.each do |booking| %>
             <li><%= "#{booking.user.username.capitalize} has made a reservation from #{booking.start_date} to #{booking.end_date}" %></li>
            <%end%>
          </ol>
        </div>
      <% else %>
        <div id="booking-form">
          <div>
            <h1>Your reservation :</h1>
            <p><%=@animal.name%> : <%=@animal.price%> €/day</p>
            <%= simple_form_for [@animal, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <% if policy(Booking).create? %>
              <%= f.submit "Book now", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px">
    <div class="column col-lg-2 col-md-12">
        <% if policy(@animal).destroy? %>
        <div class="btn btn-danger">
        <%= link_to "Delete",
              animal_path(@animal),
              method: :delete,
              data: { confirm: "Are you sure?" }, class:"ms-3 text-danger" %>
        <% end %>
      </div>
    </div>
    <div class="column col-lg-2 col-md-12">
      <% if policy(@animal).edit? %>
      <div class="btn btn-warning">
        <%= link_to "Edit",
                edit_animal_path(@animal)
               %>
      </div>
      <% end %>
    </div>
  </div>
</div>
