<div class="container"  style="margin-top: 100px">
  <div class="fs-1 mb-4">
    <h1 style="color:black"><%="#{@animal.name} - #{@animal.price}€"%></h1>
  </div>
  <div class="row">
    <div class="column col-lg-6 col-md-12", style="margin-bottom: 10px">
      <%if @animal.photos[0] != nil%>
        <%= cl_image_tag @animal.photos[0].key, gravity: :center, height: 331, crop: :thumb, class:"photo"%>
      <%else%>
        <%= image_tag("placeholder_animal.png", height: 331, width: 600, alt:"placeholder", class:"photo")%>
      <%end%>
    </div>
    <div class="column col-lg-6 col-md-12", style="margin-bottom: 10px">
      <div class="row justify-content-between">
        <div class="column col-6">
          <%if @animal.photos[1] != nil%>
            <%= cl_image_tag @animal.photos[1].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
        <div class="column col-6">
          <%if @animal.photos[2] != nil%>
            <%= cl_image_tag @animal.photos[2].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
      </div>
      <div class="row justify-content-between" style="margin-top: 10px">
        <div class="column col-6">
          <%if @animal.photos[3] != nil%>
            <%= cl_image_tag @animal.photos[3].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
        <div class="column col-6">
          <%if @animal.photos[4] != nil%>
            <%= cl_image_tag @animal.photos[4].key, gravity: :center, height: 160, crop: :thumb, class:"photo" %>
          <%else%>
            <%= image_tag("placeholder_animal.png", height: 160, alt:"placeholder", class:"photo")%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px; height:450px">
    <div class="column col-lg-6 col-md-12">
      <div class="description-card text-center p-3">
        <h3 style="text-align: center">Who is <%= @animal.name%>?</h3>
         <%= @animal.description %>
      </div>
    </div>
    <div class="column col-lg-6 col-md-12">
      <%if policy(@animal).destroy? %>
        <div id="booking-logs" class="text-center">
          <h3 style="text-align: center"><%= "#{@animal.name.capitalize}'s current bookings" %></h3>
            <% if @animal.bookings[0].nil? %>
              <p>People are looking at your companion! the first booking will pop up soon...</p>
            <% end %>
          <ul>
            <% @animal.bookings.each do |booking| %>
             <li>
              <%= "#{booking.user.username.capitalize} has made a reservation from #{booking.start_date} to #{booking.end_date}"%>
              <br>
              <%if booking.status == "pending..." %>
                <div class="d-flex">
                  Do you approve this reservation ?
                  <div class="d-flex">
                    <div>
                      <%= simple_form_for booking do |t| %>
                        <div class="d-flex">
                          <%=t.input :status, as: :hidden, input_html: {value: "approved!"}%>
                          <%= button_tag type: 'submit', style:"background: none; border: none; color: #004E00;" do %>
                            <i class="fas fa-check" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <%end %>
                    </div>
                    <div>
                      <%= simple_form_for booking do |t| %>
                        <div class="d-flex">
                          <%=t.input :status, as: :hidden, input_html: {value: "denied"}%>
                          <%= button_tag type: 'submit', style:"background: none; border: none; color: #93402F;" do %>
                            <i class="fas fa-times" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <%end %>
                    </div>
                  </div>
                </div>
              <%elsif booking.status == "approved!"%>
              <div class="d-flex">
                <%= "This reservation is approved! Soon, #{@animal.name} will meet #{booking.user.username.capitalize}"%>
                <%= simple_form_for booking do |t| %>
                        <div class="d-flex">
                          <%=t.input :status, as: :hidden, input_html: {value: "denied"}%>
                          <%= button_tag type: 'submit', style:"background: none; border: none; color: #93402F;" do %>
                            <i class="fas fa-times" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <%end %>
              </div>
              <%else%>
                You have chosen not to approve this reservation
              <%end%>
              <br>
             </li>
            <%end%>
          </ul>
        </div>
      <% else %>
        <div id="booking-form">
          <div>
            <h1 style="margin-bottom:25px">Your reservation :</h1>
            <p style="margin-bottom:25px"><%=@animal.name%> : <%=@animal.price%> €/day</p>
            <%= simple_form_for [@animal, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <% if policy(Booking).create? %>
              <div class="d-flex justify-content-center pb-3">
                <%= f.submit "Book now", class: "btn btn-outline-warning-sessions" %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>

<div class="col d-flex justify-content-end">
  <div class="row" style="margin-top:20px">
    <div class="col">
      <% if policy(@animal).edit? %>
        <%= link_to edit_booking_path(@animal) do %>
          <i class="fas fa-edit" aria-hidden="true" style="font-size:30px; color:rgb(247, 219, 190)"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <% if policy(@animal).destroy? %>
        <%= link_to booking_path(@animal), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt" style="font-size:30px; color:#d39487"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


</div>
