<h1 style="color:white"><%=@animal.name%></h1>
<%= @animal.name %><br>
<%= @animal.description %>
<% if @animal.photo.key != nil%>
    <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
  <%else%>
    <%= image_tag("placeholder_animal.png", height: 300, width: 400, alt:"placeholder")%>
  <%end%>
<%= link_to "Delete this animal",
        animal_path(@animal),
        method: :delete,
        data: { confirm: "Are you sure?" }, class:"ms-3 text-danger" %>
