<!DOCTYPE html>
<html>
  <head>
    <title>AnimauxFantastiques</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="nav-bar">
      <div class="row col-lg-12">
        <div class="column col-lg-12">Logo</div>
        <div class="column">
          <h1 style="text-align:center">Fantastic beasts and where to find them</h1>
        </div>
        <div class="column bulle">
          <p>Add an animal</p>
        </div>
      </div>
    </div>
  </div>
      <div class="row second-line">
        <div class="column">Logo</div>
        <div class="column">
          <ul class="list-inline tabs-underlined">
            <li>
              <a href="#" class="tab-underlined active">Bookings</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Requests</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Conversations</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
