<!DOCTYPE html>
<html>
  <head>
    <title>AnimauxFantastiques</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="nav-bar">
      <div class="row first-line d-flex justify-content-between">
        <div class="column col-1">Logo</div>
        <div class="column col-lg-9 col-sm-4">
          <h1 style="text-align:center">Fantastic beasts</h1>
        </div>
        <div class="column bulle col-3 col-sm-2 d-flex justify-content-between">
          <%= link_to "Add an animal", new_animal_path%>
        </div>
        <div class="column col-1 align-content-center">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>

      </div>
      <div class="row second-line">
        <div class="column">
          <ul class="list-inline tabs-underlined">
            <li>
              <a href="#" class="tab-underlined active">Bookings</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Requests</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Conversations</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
